
//navBar.component.scss


// Estils del logo
.logo {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}

//Estils per la barra de navegació
.navBar-text > p {
  margin-bottom: 0px;
}


