
  <!-- navbar.component.html -->

  <!--navbar -->
  <!-- <nav class="navbar bg-body-light mt-3 mb-2">
    <div class="container-fluid">

    </div>
  </nav> -->

  <nav class="navbar fixed-top navbar-expand-lg bg-white">
    <div class="container-fluid">
      <a class="navbar-brand mb-2" href="#">
        <img src="./../../../assets/developer-portal-svgrepo-com.svg" alt="Logo" width="30" height="24"
          class="d-inline-block align-text-top mx-2">
        Frontender.itacademy
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end me-5 pe-2" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link me-4" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-4" href="#afegirPressupostos">Afegir pressupost</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#pressupostos">Veure pressupostos</a>
          </li>
         </ul>
      </div>
    </div>
  </nav>
