
<!-- budget-list.component.html -->

<!-- Contenidor principal amb un bucle per a cada servei -->
<div class="container-sm px-5 mt-5" *ngFor="let service of services">

  <!-- Contenidor per a cada servei -->
  <div class="container text-center shadow rounded-5" [ngClass]="{'border-blue': service.selected}">
    <div class="row">
      <div class="row align-items-center">
        <div class="col px-5 mt-3 mb-3 text-start">
          <h1 class="fw-bold">{{ service.name }}</h1>
          <h6 class="fw-light">{{ service.description }}</h6>
        </div>
        <div class="col">
          <h2 class="fw-bold">{{ service.price }} <span class="fs-6">€</span></h2>
        </div>
        <div class="col">
          <form [formGroup]="checkBoxForm">
            <input type="checkbox" id="{{ service.checkbox }}" formControlName="{{ service.checkbox }}"
              class="form-check-input" (change)="onSubmit()">
            <label for="{{ service.checkbox }}" class="ms-3">Afegir</label>
          </form>
        </div>
      </div>
    </div>

    <!-- Secció per al component 'app-panel' si el servei és 'Web' -->
    <div class="row me-5">
      <div class="container " *ngIf="checkBoxForm.controls['checkboxWeb'].value && service.name === 'Web'">
        <app-panel></app-panel>
      </div>
    </div>
  </div>
</div>


<!-- Secció per mostrar el preu pressupostat -->
<div class="container-sd mb-5">
  <div class="row mt-5">
    <div class="col-8 text-end">
      <h3 class="fw-bold">Preu pressupostat: </h3>
    </div>
    <div class="col-4 text-start fw-bold">
      <h2 class="fw-bold"> {{total}} <span class="fs-5">€</span></h2>
    </div>
  </div>
</div>

<!-- Formulari per guardar pressupostos -->

<div class="container-sm px-5 mt-5">
  <div class="shadow rounded-5 p-3 py-md-4 px-5">
    <h1 class="fw-bold py-md-3 fs-3">Dades del client</h1>
    <form [formGroup]="checkBoxForm" (ngSubmit)="onSubmit()" >
      <div class="row">

        <!-- Nom del client -->
        <div class="col-3">
          <div class="form-floating mb-3">
            <input type="text" class="form-control rounded-3" id="client" placeholder="Nom" formControlName="client">
            <label for="floatingInput">Nom</label>
          </div>
        </div>

        <!-- Teléfon del client -->
        <div class="col-3">
          <div class="form-floating mb-3">
            <input type="text" class="form-control rounded-3" id="telefon" placeholder="Teléfon">
            <label for="floatingInput">Teléfon</label>
          </div>
        </div>

        <!-- Email del client -->
        <div class="col-3">
          <div class="form-floating mb-3">
            <input type="email" class="form-control rounded-3" id="email" placeholder="Email" formControlName="email">
            <label for="floatingInput">Email</label>
          </div>
        </div>

        <!-- Email del cliente -->
        <div class="col-3">
          <button type="submit" class="btn btn-primary py-3">Sol·licitar pressupost</button>
        </div>
      </div>
    </form>
  </div>
</div>
