
//header.component.scss

.container-background {
  background: url("../../../assets/border-5805478_1280\ \(1\).jpg");
  background-position: center top;
  background-repeat: no-repeat;
  margin-top: 30px;
}
