form {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.small-input {
  width: 4rem;
}

.btn-info-per {
  width: 25px;
  height: 25px;
}
